.full-width-slider input {
    display: none;
}

.full-width-slider .ui-slider-track {
    margin-left: 15px;
}

.ui-btn.ui-corner-all {
    font-size: 13px;
}

.ui-slider {
    height: 20px;
}

.date-formatted {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 0.8em;
    color: #666666;
}

.version {
    font-size: 0.5em;
}

#overlay {
    top: 0px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%
    background-color: #7777FF;
    opacity: 0.8;
    z-index: 10000;
    color: white;
    text-shadow: none;
    text-align: center;
    padding-top: 5px;
    font-size: 32px;
}

body {
    overflow: hidden;
}

.action {
    width: 100%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.action-error {
    background-color: #FF9999;
}

.action-success {
    background-color: #99FF99;
}

.ui-content {
    overflow-x: visible;
    padding: 0.5em;
}

#severityForm {
    text-align: center;
}

#footer {
    text-align: center;
    background-color: #DDDDDD;
    padding-top: 6px;
    padding-bottom: 6px;
}

#footer a {
    font-size: 12px;
    text-shadow: none;
}
